.App {
  font-family: sans-serif;
  text-align: center;
  /*width:100%;*/

}

.header {
  z-index:10;
}

.slider {
  margin-top:6vh;
  /*min-height: 300px; */
  /* 100px x3 = 300 */
  /*width:100vw;*/
  /*overflow:scroll;*/
  position: relative;
  /*height: 92vh;*/
  /*width: 100vw;*/
  padding-left:40px;
  padding-right:50px;
  /*min-width: 320px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.image {
  max-height: 650px;
  /*min-height: 320px;*/
  /*overflow:scroll;*/
  /*padding-left: 40px;*/
  /*padding-right: 40px;*/
  text-align: center;
  /*width: 100%;*/
  /*height: auto;*/
  /*margin-left:40px;*/
  /*margin-right:40px;*/
  /*border-radius: 5px;*/
  box-shadow: 0px 8px 8px 5px #c5c5c5,0px 8px 8px 5px #f6f6f6;
  /*box-shadow: 5px 5px #c5c5c5;*/
}

.right-arrow {
  /*float:right;*/
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}